

button,
input[type='button'] {
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
  padding: 0px;
  margin: 0px;
  font-family: inherit;

  -moz-appearance: none;
}

/*
  From Milligram : A minimalist CSS framework.
  https://github.com/milligram/milligram/blob/master/src/_Button.sass
*/

.bt,
button,
input[type='button'] {
  user-select: none;   
  -webkit-user-select: none;   /* Chrome all / Safari all / Opera */
  -webkit-touch-callout: none; /* iOS Safari */

  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  transition: color 200ms ease-out,
              border-color 200ms ease-out,
              background-color, 600ms ease-out;
}

.bt:hover,
button:hover,
input[type='button']:hover {
  color: yellow !important;
  outline: 0;
}

.bt:focus,
button:focus,
input[type='button']:focus {
  border-color: yellow !important;
  outline: 0;
}

.bt[disabled],
button[disabled],
input[type='button'][disabled] {
  cursor: default;
}

.bt-arrow {
  position: relative;
  border-color: rgb(103, 58, 183) transparent transparent;
  border-style: solid;
  border-width: 12px 6px 4px;
}
.bt-arrow:focus {
  border-color: yellow transparent transparent !important;
}