
.option-row {
  line-height: 1.6;
  border-bottom: solid 2px transparent;
}

.option-row:hover{
  border-bottom: solid 2px #1b75bb;
  font-weight: bolder;
}

.option-row__active {
  border-bottom: solid 2px #1b75bb;
  font-weight: bolder;
}
